.heading{
    h2{
        font-size: 34px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bolder;
        color: rgba(255, 248, 220, 0.883);
        text-shadow: 3px 1px 8px #000;
    }
}
.row{
    gap: 24px 0px;

    background-color: rgba(240, 248, 255, 0.241);
}